<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMPL MRP - History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        .mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding: 6px;
    }
    input,select {
    font-family: "Verdana";
    }
    hr.style1{
	        border-top: 15px solid #4d0000;
            }
        .oe{
            font-family: Mathematica6 Bold, Old English Text MT, Engravers Old English BT, Old English, Collins Old English, New Old English, serif;
            font-size: 50px;
            color: #4d0000;
            text-align:center;
            }
        .topnav a:hover {
            color: #4d0000;
            text-decoration: none;
        }
        .nopad {
                margin: 0;
                padding: 0;
                margin-top: 0em;
                margin-bottom: 0em;
            }


    </style>
</head>
<body>

    <div class="topnav" id="myTopnav">
        <br>
        <table>
            <td><img src="/static/logo.jpg"  height="70" width="92" align = "left"></td>
            <td width="1050px"><div align="center" class="nopad"> <a href="\main_menu"  class="oe">SMPL</a></div></td>
            <td><div align="left" class="nopad">Hi {{current_user.username}}<br>
            <a href="\change_password_form">Change Password</a><br>
            <a href="\logout">Logout</a></div></td>
        </table>
    </div>

    <hr class ="style1">
    <div align="center" class="nopad"><h2>Details for {{incoming.smpl_no}}</h2></div>
    <h3>Incoming Details</h3>
    <table class = "table table-sm">
        <tr>
            <td>SMPL No: {{incoming.smpl_no}}</td>
            <td>Customer: {{incoming.customer}}</td>
        </tr>
        <tr>
            <td>Incoming Date: {{incoming.incoming_date}}</td>
            <td>Unit: {{incoming.unit}}</td>
        </tr>
        <tr>
            <td>Thickness in mm: {{incoming.thickness}}</td>
            <td>Width in mm: {{incoming.width}}</td>
        </tr>
        <tr>
            <td>Length in mm: {{incoming.length}}</td>
            <td>Numbers: {{incoming.numbers}}</td>
        </tr>
        <tr>
            <td>Weight in MT: {{incoming.weight}}</td>
            <td>Grade: {{incoming.grade}}</td>
        </tr>
        <tr>
            <td>Mill: {{incoming.mill}}</td>
            <td>Mill ID: {{incoming.mill_id}}</td>
        </tr>
        <tr>
            <td>Remarks: {{incoming.remarks}}</td>

        </tr>
    </table>
    <h3>Uploaded Files</h3>
    <table class = "table table-sm">
        <tr>

                {% for file in file_list %}

                    <td><a href="../static/files/{{incoming.smpl_no}}/{{file}}" target="_blank">{{file}} </a></td>

                {% endfor %}

        </tr>



    </table>


    {% for order_dtl_lst,operation, ms, proc_wt, stage_no in order_detail_lst %}
    <h1 align = "center">smpl_no</h1>
    <h2 align="center">{{operation}} - Stage No. {{stage_no}}</h2>


    <table class = "table table-bordered">
        <thead>
        <tr>
            <th>Raw Material</th>
            <th>{{ms}}</th>
            <th>Processing Wt</th>
            <th>{{proc_wt}}</th>
        </tr>
        </thead>
    </table>

    <h2 align="center">Order Details</h2>
    <table class = "table table-bordered">
    {% if operation == "CTL" or operation == "Lamination" %}
    <thead>
        <tr>
            <th>Output Size</th>
            <th>Numbers x packets</th>
            <th>Lamination</th>
            <th>Tolerance</th>
            <th>Packing</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>

    {% for order_detail in order_dtl_lst %}


        <tr>

            <td>{{order_detail.cut_width}} x {{order_detail.cut_length}}</td>
            <td>{{order_detail.no_per_packet}} x {{order_detail.no_of_packets}}</td>
            <td>{{order_detail.lamination}}</td>
            <td>{{order_detail.tolerance}}</td>
            <td>{{order_detail.packing}}</td>
            <td>{{order_detail.remarks}}</td>

        </tr>


    {% endfor %}
        </tbody>
    </table>
    {% for order_detail in order_dtl_lst %}
            {% for processing_hdr, processing_id in processing_hdr_lst %}
                {% if processing_hdr.order_id == order_detail.order_id %}
                    <h2 align="center">Processing</h2>
                    <table class = "table table-bordered">
                        <tr>

                            <th>Total Processing Wt</th>
                            <th>Total No. of cuts</th>
                            <th>Procesing Date</th>
                            <th>Procesing Start Time</th>
                            <th>Procesing End Time</th>
                            <th>Procesing Time Taken</th>
                            <th>Name of QC</th>
                            <th>Name of helpers</th>
                            <th>Name of packers</th>
                        </tr>
                        <tr>
                            <td>{{processing_hdr.total_processed_wt}}</td>
                            <td>{{processing_hdr.total_cuts}}</td>
                            <td>{{processing_hdr.processing_date}}</td>
                            <td>{{processing_hdr.start_time}}</td>
                            <td>{{processing_hdr.end_time}}</td>
                            <td>{{processing_hdr.processing_time}}</td>
                            <td>{{processing_hdr.names_of_qc}}</td>
                            <td>{{processing_hdr.name_of_packer}}</td>
                        </tr>

                    </table>

                {% endif %}


            {% endfor %}

    {% endfor %}

    </tbody>
    </table>
    {% endif %}

    {% if operation == "Narrow_CTL" or operation == "Reshearing"  or operation == "Levelling" %}
    <thead>
        <tr>
            <th>Output Size</th>
            <th>Numbers x packets</th>
            <th>Tolerance</th>
            <th>Packing</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>

        {% for order_detail in order_dtl_lst %}

        <tr>

            <td>{{order_detail.cut_width}} x {{order_detail.cut_length}}</td>
            <td>{{order_detail.no_per_packet}} x {{order_detail.no_of_packets}}</td>
            <td>{{order_detail.tolerance}}</td>
            <td>{{order_detail.packing}}</td>
            <td>{{order_detail.remarks}}</td>

        </tr>

        {% endfor %}
        </tbody>

    {% endif %}

    {% if operation == "Slitting" or operation == "Mini_Slitting" %}
    <thead>
        <tr>
            <th>Output Size</th>
            <th>No. of Slits</th>
            <th>No. of Parts</th>
            <th>Length/part</th>
            <th>Tolerance</th>
            <th>Packing</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>

        {% for order_detail in order_dtl_lst %}

        <tr>

            <td>{{order_detail.cut_width}} x {{order_detail.cut_length}}</td>
            <td>{{order_detail.numbers}}</td>
            <td>{{order_detail.no_of_packets}}</td>
            <td>{{order_detail.no_per_packet}}</td>
            <td>{{order_detail.tolerance}}</td>
            <td>{{order_detail.packing}}</td>
            <td>{{order_detail.remarks}}</td>

        </tr>

        {% endfor %}
        </tbody>
    {% endif %}



    <br><br><hr style="border-top: 5px solid #4d0000;">
    <!--p style="page-break-before: always;"-->
    {% endfor %}

    <h3>Processing</h3>
    <table class = "table table-sm table-striped">

            {% for processing_hdr, processing_id in processing_hdr_lst %}
            <tr>
                <td><b>Operation: {{processing_hdr.operation}}</b></td>
                <td><b>Processing Date: {{processing_hdr.processing_date}}</b></td>
                <td></td>
            </tr>
            {% for processing_dtl in processing_dtl_lst %}

                    {% if processing_id == processing_dtl.processing_id %}
                       <tr>
                           <td>Machine: {{processing_dtl.machine}}</td>
                           <td>Input Size: {{processing_dtl.input_width}} x {{processing_dtl.input_length}}</td>
                           <td>Output Size: {{processing_dtl.cut_width}} x {{processing_dtl.cut_length}}</td>
                        </tr>
                         <tr>
                            {% if processing_hdr.operation == "Slitting" or processing_hdr.operation == "Mini Slitting" %}
                            <td>Length in m: {{processing_dtl.processed_numbers}}</td>
                            <td>Number of coils: {{processing_dtl.processed_packets}}</td>
                            <td>Processed Weight: {{processing_dtl.processed_wt}}</td>
                            {% else %}
                            <td>Numbers: {{processing_dtl.processed_numbers}}</td>
                            <td>Number of Packets: {{processing_dtl.processed_packets}}</td>
                            <td>Processed Weight: {{processing_dtl.processed_wt}}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            <tr>
                <td>Processing Start Time: {{processing_hdr.start_time}}</td>
                <td>Processing End Time: {{processing_hdr.end_time}}</td>
                <td>Processing Time (in minutes): {{processing_hdr.processing_time}}</td>
            </tr>
            {% if processing_hdr.operation == "Slitting" or processing_hdr.operation == "Mini Slitting" %}
            <tr>
                <td>Setting Start Time: {{processing_hdr.setting_start_time}}</td>
                <td>Setting End Time: {{processing_hdr.setting_end_time}}</td>
                <td>Setting Time (in minutes): {{processing_hdr.setting_time}}</td>
            </tr>
            {% endif %}

            <tr>
                <td>Name of QC: {{processing_hdr.names_of_qc}}</td>
                <td>Names of Helpers: {{processing_hdr.names_of_helpers}}</td>
                <td>Names of Packers: {{processing_hdr.name_of_packer}}</td>
            </tr>


            {% endfor %}

    </table>
    <h3>Dispatch Details</h3>
     <table class = "table table-sm">
        {% for dispatch_hdr, dispatch_id in dispatch_hdr_lst %}
         <tr>
                <th>Vehicle No.</th>
                <th>Customer</th>
                <th>Dispatch Date</th>
                <th>Dispatch Time</th>
                <th>Remarks</th>
        </tr>
         <tr>
                <td>{{dispatch_hdr.vehicle_no}}</td>
                <td>{{dispatch_hdr.customer}}</td>
                <td>{{dispatch_hdr.dispatch_date}}</td>
                <td>{{dispatch_hdr.dispatch_time}}</td>
                <td>{{dispatch_hdr.remarks}}</td>
        </tr>
    </table>


        <table class = "table table-sm">
            <tr>
                    <th>SMPL No.</th>
                    <th>Thickness</th>
                    <th>Size</th>
                    <th>Numbers</th>
                    <th>Weight</th>
                    <th>No. of Packets</th>
                    <th>Defectives</th>

            </tr>
            {% for detail in dispatch_detail_lst %}
                {% if dispatch_id == detail.dispatch_id %}
                <tr>

                        <td>{{detail.smpl_no}}</td>
                        <td>{{detail.thickness}}</td>
                        <td>{{detail.width}} x {{detail.length}}</td>
                        <td>{{detail.numbers}}</td>
                        <td>{{detail.dispatch_wt}}</td>
                        <td>{{detail.no_of_pkts}}</td>
                        <td>{{detail.defectives}}</td>

                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>

</body>


</html>

