<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMPL MRP-Incoming</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
    <form action="/incoming_input" method="get">
          <input type="radio" name="incoming_input" value="smpl" checked> SMPL<br>
          <input type="radio" name="incoming_input" value="tr"> TR<br>
        <p><input type="submit" class="btn btn-default" value="Submit"></p>
    </form>
</body>
</html>